{% extends "base.html"%} {% block title %} Art {% endblock %} {% block content
    %}


<h3 align="center">Art Gallery</h3>
<div class="row">
    {% for piece in arts %}
    <div class="col-md-4 my-3">
        <div class="card" style="background-color: rgba(81, 81, 188, 0.79); width: 90%;">
            <img src="{{ url_for('static', filename='art/' + piece.art) }}" class="card-img-top" alt="Art">
            <div class="card-body">
                <p class="card-text">
                    Posted by <a href="/profile/{{ piece.user.id }}">{{ piece.user.username }}</a><br>
                    on {{ piece.date_created.strftime('%Y-%m-%d') }}
                </p>
                <!-- Display Comments -->
                {% if piece.comments %}
                <div class="card mt-2">
                    <div class="card-body">
                        {% for comment in piece.comments %}
                            <strong>{{ comment.user.username }}</strong>: {{ comment.text }}
                        
                            {% if comment.author == current_user.id or piece.author == current_user.id %}
                            <button type="button" class="btn btn-danger btn-lg"><a href="/delete-art-comment/{{ comment.id }}" class="text-danger" style="font-size: 0.9rem;">
                                Delete
                            </a>
                            </button>
                            {% endif %}
                        </p>
                        {% endfor %}
                    </div>
                    <p>
                </div>
                {% else %}
                <p class="text-muted">No comments yet.</p>
                {% endif %}

                <!-- Comment Form -->
                <form action="{{ url_for('views.comment_art', art_id=piece.id) }}" method="POST" class="mt-2">
                <div class="input-group">
                    <input type="text" name="text" class="form-control" placeholder="Write a comment...">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
                </form>

            </div>
        </div>
    </div>
    
    {% endfor %}
</div>

<hr>

<form action="/art" method="POST" enctype="multipart/form-data">
    <h3 align="center">Post Art</h3>
    <div class="form-group" align="center">

        <input type="file"  name="file"/>

        <br/>

        <div>
            <button class="btn btn-primary" type="submit">Publish</button>
        </div>
    </div>
</form>


{% endblock %}