{% extends "base.html"%}
{% block title %}{{current_user.username}}'s Profile{% endblock %}

{% block content %}
 
{% if user.profile_image %}
    <div class="profile-image">
        <img src="{{ url_for('static', filename=user.profile_image) }}" alt="{{ user.username }}'s profile image" width="150" height="150">
    </div>
{% endif %}

<div class="profile-container">
    <h2>{{ user.username }}</h2>
    <p><strong>Bio:</strong> {{ user.bio or "No bio yet." }}</p>
    <p><strong>Account was Made On: </strong>{{ user.date_created }}</p>
    <p><strong>Followers:</strong> {{ user.followers.count() }}</p>
    <p><strong>Following:</strong> {{ user.followed.count() }}</p>

    {% if current_user.id == user.id %}
        <p><strong>Email:</strong> {{ user.email }}</p>
        <br/>
        <a href="{{ url_for('views.edit_profile') }}" class="btn btn-secondary">Edit Profile</a>
      
    {% endif %}
</div>

  <br/>

{% if user != current_user %}
    {% if current_user.is_following(user) %}
        <a href="{{ url_for('views.unfollow', user_id=user.id) }}" class="btn btn-danger">Unfollow</a>
    {% else %}
        <a href="{{ url_for('views.follow', user_id=user.id) }}" class="btn btn-primary">Follow</a>
    {% endif %}
{% endif %}

<p>
    <a href="{{ url_for('views.followers', user_id=user.id) }}">Followers ({{ user.followers.count() }})</a> |
    <a href="{{ url_for('views.following', user_id=user.id) }}">Following ({{ user.followed.count() }})</a>
  </p>
  

{% endblock %}
