{% extends "base.html"%} {% block title %}Rules{% endblock %} {% block content
    %}

<h2> Welcome to NewLands! Here are the rules. </h2>

<p>1. You will respect other people on the website. </p>
<p>2. You will not harass other people. </p>
<p>3. You must respect other people's privacy. </p>
<p>4. You can not post other people's work with out their permission. </p>
<p>5. You are not allowed to post any AI images or videos. </p>
<p>6. You must follow all of the rules on this website. </p>
<br/> 


<h3> You will have three chances. </h3>
<p> The first time you break one of these rules, it will be said as an accident. </p>
<p> The second time you break one of the rules we'll be watching you. </p>
<p> And the third time you break the rules, your account will be permanently deleted. </p>

{% endblock %}