{% extends "base.html"%} {% block title %}Sign Up{% endblock %} {% block content
    %}
    <form action="/signup" method="POST" enctype="multipart/form-data">
      <h3 align="center">Sign Up</h3>
      <div class="form-group">
        
        <label for="profile">Profile</label>
        <input type="file"  name="file"/>

        <br/>

        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          placeholder="Enter your username"
        />

        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter your Email"
        />

        <label for="password1">Password</label>
        <input
          type="password"
          id="password1"
          name="password1"
          class="form-control"
          placeholder="Enter Password"
        />
        <label for="password2">Password Again</label>
        <input
          type="password"
          id="password2"
          name="password2"
          class="form-control"
          placeholder="Enter Password Again"
        />
        <br/>
        <div align="center">
            <button class="btn btn-primary" type="submit">Sign Up Now</button>
        </div>
      </div>
    </form>
    {% endblock %}
    