.card-text {
    color: #FFF;
}

a {
    color: rgb(135, 195, 247);
    font-weight: bold;
}

.right {
  position: absolute;
  right: 0px;
  padding-bottom: 10px;
}


.banner-1{
    background-color: rgba(81, 81, 188, 0.79);
    width: 50%;
}
.banner-2{
    background-color: rgba(81, 81, 188, 0.79);
    width: 90%;
}

.space {
    padding-top: 30px;
}

.comment {
    background: linear-gradient(90deg, rgb(13, 108, 185), rgb(7, 25, 127));
}

.text-muted {
    color: #fff !important;
}

.center {
    align-content: center;
}