body {
    background-image: url('home.png');
}


a {
    color: aliceblue;
}

.newlands {
    background: linear-gradient(90deg, rgb(66, 24, 217), gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.banner-1{
    background-color: rgba(81, 81, 188, 0.79);
    width: 50%;
}
.banner-2{
    background-color: rgba(81, 81, 188, 0.79);
    width: 85%;
}